.info-cards-container {
    margin-block: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .info-card {
    flex: 1;
    min-width: 200px;
    max-width: 250px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .info-card:hover {
    transform: translateY(-5px);
    background-color: #f3f3f3;
  }
  
  .icon {
    font-size: 2em;
    color: black;
  }
  
  .count {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .label {
    font-size: 1em;
    color: #888;
  }
  