.navbar {
    background-color: black; /* Dark background */
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar__profile {
    position: relative;
  }
  
  .navbar__profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .navbar__dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .navbar__dropdown-item {
    font-size: smaller;
    padding: 6px 16px;
    text-decoration: none;
    color: black;
    display: block;
  }
  
  .navbar__dropdown-item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  